.contentboxcontainer {
    width: 50%;
    min-width: 600px;
    margin: auto;
    vertical-align: top;
    border-style: solid;
    background: #f1f1f1;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}
.contentboxcontainer > div > h2 {
    color: white;
    text-align: right;
    padding: 10px;
}
.contentboxcontainer .contentcontainerheader {
    background: #da532c;
}

/*verschachtelung der contentbox */
.contentboxcontainer .contentboxcontainer
{
	width: 98%;
	min-width: none;
	border: 1px solid black;
	border-radius: 0px;
}

.contentboxcontainer .contentboxcontainer > div > h2 {
    color: white;
    text-align: left;
    padding: 5px;
	padding-left:5px;
    font-size: 16px; 
    font-weight: 400; 
}
.content3pixmargin
{
	padding:3px;
}

@media (max-width: 1500px) {
    .contentboxcontainer {
        width: 90%;
    }
}