.selectoritembox
{
	color:white;
	border-bottom: 1px solid;
	background-color:grey;
	cursor:pointer;
	padding:3px;
}
.selectoritembox > strong
{
	font-weight: bold;
}
.selectoritembox:hover
{
 background-color:#da532c;
}
.listselectorbox input
{
	font-size:18px;
}
.listselectorbox > div
{
	color:#999;
}
.listselectorbox input
{
	width:100%;
}
.react-autosuggest__suggestion
{
	font-size: 15px;
}
.react-autosuggest__suggestion--highlighted .selectoritembox
{
	background-color:#da532c;
}
#startseitecenterbox .listselectorbox input
{
border-radius: 5px;
}