.loginbox
{
	margin-left:20px;
	padding:20px;
	background-color:white;
	height:390px;
	width:400px;
	border:2px solid;
}
.authenticationbox
{
    margin-left:20px;
	padding:20px;
	background-color:white;
    border:2px solid;
    border-radius: 15px;   
    display: inline-block;
}
.authenticationbox > div
{
    padding:5x;
}
.authenticationbox > div div
{
    display: inline-block;
}
.authenticationbox > div:hover
{
    background:#da532c;
    cursor: pointer;    
}
.authenticationbox > div:hover  h1
{
    color:white !important;
}
.loginnamefield
{
    font-weight: 400;
    padding-left:30px;
    padding-right:30px;
}

