/*login seite checkbox auf tablet */
#checkboxregion
{
display: block;
height:25px;
width:99%;
}
.loginbox
{
	margin-left:20px;
	padding:20px;
	background-color:white;
	height:390px;
	width:400px;
	border:2px solid;
}

.textboxgroup textarea, .textboxgroup input
{
	width:100%;
}
/* form starting stylings ------------------------------- */
.textboxgroup 			  { 
  position:relative; 
  margin-bottom:20px; 
  font-family: 'Roboto';
  margin-top:20px;
}
input.stdtextbox, textarea.stdtextbox  {	
  font-size:18px;
  font-family: Arial;
  padding:10px 10px 10px 5px;
  display:block;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid #757575;
  box-shadow:none;
      box-sizing: border-box;
}

input.stdtextbox:focus, textarea.stdtextbox:focus 	{ 
outline:none; 
border-top:none;
border-right:none;
border-left:none;
padding: 10px 10px 10px 5px;
border-bottom:2px solid transparent;
  box-shadow:none;
}

/* LABEL ======================================= */
.textboxgroup 	label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.stdtextbox:focus ~ label, .stdtextbox:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#da532c;
}

/* BOTTOM BARS ================================= */
.textbar 	{ position:relative; display:block; }
.textbar:before, .textbar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#da532c; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.textbar:before {
  left:50%;
}
.textbar:after {
  right:50%; 
}

/* active state */
.stdtextbox:focus ~ .textbar:before, .stdtextbox:focus ~ .textbar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.texthighlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.stdtextbox:focus ~ .texthighlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#da532c; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#da532c; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#da532c; }
  to 	{ width:0; background:transparent; }
}