/*
.stdui #editelementform > div > table td
{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}

.stdui #editelementform > div > table tr:hover
{
background:#F5F5F5;
}
*/
.stdui #editobjecttbl tr td
{
	border-top:none;
	border-left:none;
	border-right:none;
	padding-top:5px;
	padding-bottom:5px;
}
.fieldnametd
{
	border-top:none;
	border-left:none;
	border-right:none;
	padding-top:5px;
	padding-bottom:5px;
}
.editobject-fildvaluetd
{
	border-top:none;
	border-left:none;
	border-right:none;
	padding-top:5px;
	padding-bottom:5px;
}

.stdui #editobjecttbl  tr:hover {
    background: #f9f9f9;
}
.bottomeditpage
{
	height:200px;
}

#authorboxline
{
		display: flex;
    justify-content: center;
}
.addurlbutton
{
	width:25px;
}
.fieldnametd
{
width: 10%;
min-width: 200px;
}
.stdui #newelementform  > table tbody  td
{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}
.stdui #newelementform  > table tbody tr:hover
{
background:#F5F5F5;
}