#authorboxline a:hover
{
	background: #da532c;
    color:white;
}
.stdui #readobjecttbl tr td
{
	border-top:none;
	border-left:none;
	border-right:none;
	padding-top:5px;
	padding-bottom:5px;
}

.stdui #readobjecttbl  tr td:first-child{
	width:10%;
    min-width:200px;
}
.stdui #readobjecttbl  tr:hover {
    background: #f9f9f9;
}
.stdui #authorboxline div
{
	font-size:12px;
	font-style:italic;
}
.stdui #authorboxline .link
{
	font-size:12px;
	font-style:italic;
}