#objecttypelisttable tr td
{
	cursor:pointer;
}
#objecttypelisttable
{
	margin-top:150px;
	margin-bottom:20px;
	border: 1px solid black;
	margin:auto;
	width:100%;
}
#objecttypelisttable td
{
	    padding: 15px 5px;
}

#objecttypelisttable th
{
	font-weight:bold;
	color:black;
}
#objecttypelisttable .objecttyperow:hover
{
	background:#da532c;
	color:white;
}
#objecttypelistcard
{
	width: 50%;
    min-width: 600px;
    margin: auto;
    vertical-align: top;
    border-style: solid;
    background: #f1f1f1;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

#objecttypelistcard > div > h2 {
    color: white;
    text-align: right;
    padding: 10px;
}
#objecttypelistcard > div {
    background: #da532c;
}

#objecttypelistpagebuttons
{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
}
#objecttypelistcard th
{
background:#d8d8d8;
}
#objecttypesearchbox
{
	width:100%;
	border-right:0px;
	border-left:0px;
	margin:0px;
	line-height:18px;
}
