#objecttypesettingsbasicpageinnerbox
{
	padding:10px;
	background:white;
}
#objecttypesettingsbasicpagefooter
{
			display:flex;
	display:-webkit-flex;
	justify-content:center;
}
#objecttypesettingsbasicpageinnerbox .textboxgroup
{
	width:80%;
}
#objecttypesettingspage-removedialog-div
{
	padding:5px;
}