.contentcontainertext .contentboxcontainer .contentboxcontainer
{
	width: 50%;
	min-width: none;
	border: 1px solid black;
	border-radius: 0px;
}
#singleobjecttypeboxcontent
{
	padding:20px;
}
#singleobjecttypeboxcontentfelder img
{
	height:40px;
}

#singleobjecttypeboxcontentfelder th {
    background: #d8d8d8;
	font-weight: bold;
}
#singleobjecttypeboxcontentfelder .fieldrowrow:hover
{
	background: #da532c;
    color: white;
	cursor:pointer;
}
#singleobjecttypeboxcontentfelder .delfiledtd
{
	width:50px;
}
#singleobjecttypeboxcontentfelder td
{
	    padding: 15px 5px;
}
#singleobjecttypeboxcontentinfotbl td
{
	border:0px;
	padding:10px;
}
#singleobjecttypeboxcontentinfotbl .infoboxtd
{
	width:110px;
	font-weight:bold;
	text-align:right;
}
#singleobjecttypeboxcontentfelder .fieldrowrow td.fieldtd
{
	font-weight:bold;
}
#singleobjecttypeboxcontentinfotbl .listnamelink
{
	font-weight:bold;
}
#singleobjecttypeboxcontentinfotbl .infoboxtd img 
{
	height:20px;
}
#singleobjecttypfollowdialog label
{
	cursor:pointer;
}
#singleobjecttypeboxcontentfelder .fielddisabled td.fieldtd 
{
	
	font-weight:normal;
}
#singleobjecttypeboxcontentfelder .fielddisabled td
{
	background: #f6f6f6;
	padding: 3px;
}
#singleobjecttypeboxcontentfelder .fielddisabled:hover
{
    color: black;
	cursor:not-allowed;
}
#addfieldtoobjecttypefieldtbl img
{
	height:40px;
	width:40px;
	margin:2px;
}
#addfieldtoobjecttypefieldtbl .delfiledtd {
    width: 50px;
	border:1px #ddd solid;
}
#singleobjecttypehelpdeleteimg, #singleobjecttypehelpaddimg
{
	height:30px;
}
#singleobjecttype-removefiled-box-div
{
	padding:5px;
}