.trashiconpageimg
{
height:25px;
}
.trashicontd
{
width:25px;
}

#trash_tablelist th
{
background: #d8d8d8;
font-weight: bold;
color:black;
}

#trash_tablelist .trashrow:hover {
    background: #da532c;
    color: white;
    cursor:pointer;
}
#trashsearchbox
{
	width:100%;
	border-right:0px;
	border-left:0px;
	margin:0px;
}
#trash_tablelist td
{
	  padding: 15px 5px;
}