#addfieldtoobjecttypebuttonbar
{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
}
#addfieldtoobjecttypebuttonbar .stdtile 
{
	height:120px;
	width:120px;
}

#addfieldtoobjecttypefieldtbl .fieldrowrow:hover {
    background: #da532c;
    color: white;
    cursor: pointer;
}

#addfieldtoobjecttypeheader > h2 {
    font-size: 16px;
    font-weight: 400;
	color: white;
}
#addfieldtoobjecttypeheader {
    background: #da532c;
	width:100%;
	color: white;
    text-align: left;
    padding: 5px;
    padding-left: 5px;
}
#addfieldtoobjecttypefieldtbl th {
    background: #d8d8d8;
    font-weight: bold;
}
#addfieldtoobjecttypefieldtbl td
{
	padding:5px;
}
#addfieldtoobjecttypebox
{
    padding:10px;
    text-align:center;
}
