#boxes-wrapper-div {
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	column-count: 1;
	column-gap: 0;
	padding: 10px;
  }
  
  @media screen and (min-width:650px) {
	#boxes-wrapper-div {
	  -webkit-column-count: 2;
	  -moz-column-count: 2;
	  column-count: 2;
	}
  }
  
  @media screen and (min-width:960px) {
	#boxes-wrapper-div {
	  -webkit-column-count: 3;
	  -moz-column-count: 3;
	  column-count: 3;
	}
  }
  
  @media screen and (min-width:1200px) {
	#boxes-wrapper-div {
	  -webkit-column-count: 4;
	  -moz-column-count: 4;
	  column-count: 4;
	}
  }

  @media screen and (min-width:1500px) {
	#boxes-wrapper-div {
	  -webkit-column-count: 5;
	  -moz-column-count: 5;
	  column-count: 5;
	}
  }





.objectbox-div
{
	padding:1em;
	margin:0 1em 2em 1em;
	border-bottom-width:3px;
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	border-radius: 15px;
	border: black 2px solid;
	cursor: pointer;
	width:85%;
}
.objectbox-div:hover
{
    color: white;
    background: var(--main-bg-color);
}

#listsearchbox
{
	width:100%;	
	line-height:18px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#tbllistdataresult
{
	position: sticky;
	top:80px;
	z-index:50;
}
#listviewtable tr
{
	background:white;
	transition: background-color .25s ease;
}
#listviewtable tr:hover { 
background:#f2f2f2;
} 

#listviewtable tr.active { background: #f2f2f2; } 

#listviewtable tr{
    cursor: pointer;
	font-family:Roboto, sans-serif;
}


#listviewtable td:last-child{
    width:1%;
    white-space:nowrap;
}

.listdescription
{
 display:none;
 font-size: 1.3em;
 font-style:italic; 
 color:grey;
}
.listnametext
{
	 font-size: 1.5em;
	 font-weight: 400;
}
#listviewtable th
{
	background:#e6e6e6;	
}

#headerresulttabledynamic
{
	margin-bottom: 0px;
}

#tbllistdataresult .tile
{
min-height:70px !important;
min-width:70px	 !important;	
max-height:120px !important;
max-width:120px	 !important;
}

#listviewtable img
{
	width:100%;
}

#tbllistdataresult td
{
	padding:3px;
border-right:1px #ddd solid;
border-bottom:1px #ddd solid;
border-left:1px #ddd solid;		
border-top:1px #ddd solid;	
}
#tbllistdataresult, #headerresulttabledynamic
{
	 border-collapse: collapse;
}
#listviewtable td
{
	padding:3px;	
 /*	border:1px solid; */
}


/*nur für die querylistview */


#querylistviewtable tr:hover { background: yellow; } 

#querylistviewtable tr.active { background: yellow; } 


#querylistviewtable th
{
	background:#e6e6e6;	
}
#querylistviewtable td
{
 line-height: 30px !important; 
}

#querylistviewtable td
{
	padding:3px;	
}


.tdeditcol
{
	width:145px;
	height:100%;
}
.tdedsingl
{
	width:64px;
	height:100%;
}


#tbllistdataresult th , #headerresulttabledynamic th
{
	box-sizing: border-box;
}

#listview-searchbox-div
{
	margin:0px;
	z-index: 20000;
	background:white;
	position: sticky;
	top:50px;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	grid-template-columns:  3fr  auto auto 26px;
}
.tblsearchresultcount
{
	white-space: nowrap;
	outline: none;
	margin:auto;
}
#listinfobox
{
	min-width:300px;
	border-style:solid;
	display:inline-block;
	height:140px;
	background:  #f1f1f1;
    border: 2px solid black; 
    box-sizing: border-box;
	margin:18px;
	margin-top:10px; 
	margin-left:50px;
	overflow:hidden;
	border-radius:5px;
	
}
@media (max-width: 1500px) {
#listinfobox
{
	display:none;
}
}

.stdui #listinfoboxheader h1
{
	background-color:var(--main-bg-color);
	text-align:right;
	color:white;
	padding:3px;
}
#listinfoboxdescription
{
	padding:5px;
	font-style:italic;
}
#tbllistdataresult > tbody > tr:hover
{
	background:#F5F5F5;
}
.filterbuttonlistview
{
display:none;
	width:25px;

}
.filterbuttonlistview
{
	display: block;
	visibility: hidden;
}
.sortable:hover .filterbuttonlistview
{
visibility:visible;
}
.sortable
{
white-space: nowrap;
}
#tbllistdataresult th:hover
{
	background:#d8d8d8;
}
.fieldbuttondiv
{
	display: flex;
	justify-content: space-between;
}
.listview-hide-icon-div
{
	visibility:hidden;
	min-width:20px;
}
.sortable:hover .listview-hide-icon-div
{
visibility:visible;
}
#listview-box-div
{
background-color: #FFF;
}
img.fullscreen-icon
{
	cursor: pointer;
	width:23px;
	height:23px;
	margin:1px;
	
	max-width: 23px;
}

/*invisible field */
.invisiblefield-field-box
{
	float:right;
    border-radius: 5px;
	cursor: pointer;
	color:white;
	background-color:#da532c;
	padding:2px;
	margin-left: 10px;	
	margin-top:2px;
	margin-bottom: 2px;
	border:1px solid black;
	font-size: 14px;
	padding-right:10px;
}
.invisiblefield-field-box img
{
	margin-right: 3px;
	height:25px;
}

#fullscreentd
{
	width:26px;
	margin:auto;
}
#objectnametd
{
	white-space: nowrap;
	max-width: 300px;
}
#tblsearchboxtd
{
	width:80%;
}


