#startseite #starpagebuttons-navbuttons .stdtile .brand > .badge, #startseite #starpagebuttons-navbuttons .stdtile .tile-status > .badge
{
  display: none;
}

#startseite #starpagebuttons-navbuttons .name
{
  text-align: center;
  margin-left:0px;
  width:100%;
 font-size: 16px;
 color:black;
}
#startpagecenter-middlecomponent-adminbox .stdtile
{
background:#ff9800 !important;
width:147px;
height:147px;
}
#startseite table
{
  width:100%;
}
#startseite #starpagebuttons-navbuttons .stdtile .brand
{
  text-align: center;
}
#startseite #listofalllists
{
    margin:0px;
    width: 100%;
    box-sizing: border-box;
  }
#startseite #listofalllists .listnametext
{
font-size:1.1em;
}
#startseite #listofalllists .listdescription
{
font-size:1.1em;
}
#startseite #search-box-div .headerobjectbox
{
  background:#388E3C;
}

#startseite #querysearchbox
{
  width: 100%;
  line-height: 18px;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  height:inherit;
}
#startseite #history-box-div, #startseite #search-box-div
{
padding:10px;
}

#startseite #querylist-contentbox-div
{
  padding:10px;
}
#startseite #querylist-contentbox-div
{
  background:white;
}

#startseite .listnametext, #startseite .listdescription
{
  font-size:1.1em;
}
#startseite #querysearchbox
{
  line-height: 18px;
  font-size: 100%;
}


#startpagebuttons .contentcontainerheader
{
  background:#4285f4 !important;
}

#startseite #listofalllists td
{
  line-height:25px;
}
#startpagecenter-middlecomponent-listbox .contentcontainerheader
{
  background: #e91e63 !important;
}
#startpagecenter-middlecomponent-mylistbox .contentcontainerheader
{
  background: #00bcd4 !important;
}
#startpagecenter-middlecomponent-adminbox .contentcontainerheader
{
  background: #ff9800 !important
}
#startpagecenter-middlecomponent-search .contentcontainerheader
{
  background:#388E3C !important;
}
#starpagebuttons-navbuttons .btsearch
{
  background:#388E3C !important;
}
#starpagebuttons-navbuttons .bthistory
{
background:#7B1FA2 !important;
}
#startpagecenter-middlecomponent-history .contentcontainerheader
{
  background:#7B1FA2 !important;
}

#startpagecenter-middlecomponent-stream .contentcontainerheader
{
  background:#FFBB00;
}
#starpagebuttons-navbuttons .btstream
{
background:#FFBB00!important;
}
#startpagecenter-middlecomponent-stream .contentcontainerheader
{
  background:#FFBB00!important;
}

#startpagecenter-middlecomponent-analytics .contentcontainerheader
{
  background:#da532c;
}
#starpagebuttons-navbuttons .bganalytics
{
background:#da532c!important;
}
#startpagecenter-middlecomponent-analytics .contentcontainerheader
{
  background:#da532c!important;
}
#startpagecenter-middlecomponent-stream #addpersonpostbutton
{
  border-radius:0;
}

#startpagebuttons  #starpagebuttons-navbuttons .stdtile 
{
margin-bottom: 0px;
border-bottom-left-radius:0px  !important;
border-bottom-right-radius:0px  !important;
border-bottom: 2px solid;
}
#startpagebuttons #starpagebuttons-navbuttons .stdtile:hover, #startpagebuttons #starpagebuttons-navbuttons .true .stdtile
{
  border: 2px solid black !important;
  border-bottom: transparent 2px solid !important;
  position: relative;
  top:+3px;
}
#startpagebuttons .contentboxcontainer
{
  width:100%;
}

#startpagebuttons .stdcard-listoflists {
display: inline-block;
}
#addpersonpostbutton {
    /* border:1px solid #a1a1a1; */
    padding:3px 3px 3px 3px;
    background:#da532c;
    width:100%;
    text-align:center;
    margin-top:3px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
    #addpersonpostbutton a {
    font-size:15px;
    text-align:center;
    color:white;
    }
    #addpersonpostbutton:hover {
    opacity: 0.6;
    }
    
    #startseite .trumbowyg-box.trumbowyg-editor-visible {
        min-height: 160px;
      }
      
     #startseite .trumbowyg-editor {
        min-height: 160px;
      }
      .trumbowyg-box
      {
          margin-top:3px;
      }
      .trumbowyg-box
      {
        box-sizing: border-box;
      }

      .bgadministration
{
	background-color:#ff9800 !important;
}
.bgmylists
{
	background-color:#00bcd4 !important;
}
.bglists
{
	background-color:#e91e63 !important;
}
.bgqueries
{
	background-color:#4285f4 !important;
}