#startseitecenterbox
{
    width:620px;
}

.mui-tabs__bar
{
	background:#EEEEEE;
}
.trumbowyg-button-pane
{
	background:white;
}
.mui-tabs__bar>li.mui--is-active>a
{
	color:black;
}
.mui-tabs__bar>li.mui--is-active {
	border-bottom: 5px solid #da532c;

}
.mui-tabs__bar>li>a
{
	cursor: pointer;
}


#addpersonpostbutton {
/* border:1px solid #a1a1a1; */
padding:3px 3px 3px 3px;
background:#da532c;
width:100%;
text-align:center;
margin-top:3px;
box-sizing: border-box;
}
#addpersonpostbutton a {
font-size:15px;
text-align:center;
color:white;
}
#addpersonpostbutton:hover {
opacity: 0.6;
}

.trumbowyg-box.trumbowyg-editor-visible {
	min-height: 160px;
  }
  
  .trumbowyg-editor {
	min-height: 160px;
  }
  .trumbowyg-box
  {
	  margin-top:3px;
  }
  .trumbowyg-box
  {
	box-sizing: border-box;
	/*  
	border-right:0px;
	  border-left:0px;
	  */
  }