.tile:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
  }
  
  
  
  .stdbuttonicon
  {
      cursor: pointer;
  }
  .stdbuttonicon_disabled
  {
      opacity: 0.2;
  }
  .stdui .stdbuttondisabled
  {	
      cursor:not-allowed;
      background-color:#eeeeee;
  }
  .stdui .stdbuttondisabled .brand > .name
  {	
  color:black;
  }
  .stdui .stdbuttondisabled:hover
  {	
      cursor:not-allowed;
      background-color:#eeeeee !important;
      outline:0px;	
  }

  .minibuttonimg
  {
      cursor: pointer;
      border-radius: 51%;
      margin-left:0px;
      margin-right:5px;
  }
  .minibuttonimg:hover
  {
         box-shadow: 0 0 0 1px black;
  }
  
  .stdtile
  {
    margin-top:0px;
    display: block;
      float: left;
      background-color: #DA532C;
      width: 150px;
      height: 150px;
      cursor: pointer;
    /*  box-shadow: inset 0px 0px 1px #FFFFCC; */
      text-decoration: none;
      color: #ffffff;
      position: relative;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 11pt;
      letter-spacing: 0.02em;
      line-height: 14pt;
      margin: 0 10px 10px 0;
      overflow: hidden;
  }
  .stdtile .tile-content {
      width: 100%;
      height: 100%;
      padding: 0;
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 9pt;
      line-height: 11pt;
      color: #000000;
      color: #ffffff;
      line-height: 16px;
  }
  .stdtile .brand
  {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 30px;
      background-color: transparent;
  }
  .stdtile.icon > .tile-content > img {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      margin-left: -32px;
      margin-top: -32px;
  }
  .stdtile .brand > .name, .stdtile .tile-status > .name {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 5px;
      margin-left: 15px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 9pt;
      line-height: 11pt;
      color: #ffffff;
  }
  .stdtile .brand > .badge, .stdtile .tile-status > .badge {
      position: absolute;
      bottom: 0;
      right: 0;
      right: 5px;
      margin-bottom: 0;
      color: #ffffff;
      width: 34px;
      height: 28px;
      text-align: center;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 11pt;
      letter-spacing: 0.01em;
      line-height: 13pt;
      padding-top: 3px;
  }
  .stdtile:hover
  {
      background-color:#DA532C;
       outline:2px black solid; 
      /* box-shadow: 0 0 0 2pt black; */
  }
  .stdtile
  {
      margin:3px;
  }
  stdtile:focus
  {
      outline:none;
  }
  tile-content:focus
  {
      outline:none;
  }
  .half
{
    width:85px;
    height:85px;
}
.half img
{
    margin-left:10px;
    margin-top:3px;
}
.half .name
{
    font-weight: 300;
}
.half .brand > .badge, .half .tile-status > .badge
{
right:0px;
text-align:right;
margin-right:4px;
}
.half .brand > .name, .half .tile-status > .name
{
margin-bottom:3px;
}

@media (max-width: 1500px) {
    .stdtile
    {
        width:128px;
        height:128px;
    }
}