.helpboxcontainer > div > h2
{
	color:white;	
	text-align:right;
	padding:10px;
}
.helpboxcontainer > .helpboxcontainerheader
{
	background:var(--main-bg-color);
}
.helpboxcontainer img
{ 
margin:7px;
}
.helpboxcontainer a
{
	font-weight:bold;
}
.helpboxcontainertext
{
	margin:2px;
}
.helpboxcontainer h3
{
font-size:18px;
font-weight:bold;
margin:3px;
}
.helpboxcontainer
{
	position: fixed;
    right: 50px;
    top: 80px;
    max-width: 300px;
	width:20%;
    border-style: solid;
    background: #f1f1f1;
    border: 2px solid black;
    border-radius: 5px;
}
.helpboxcontainer  strong
{
	font-weight:bold;
}
@media  (max-width: 1250px) {
    .helpboxcontainer {
        display: none;
    }
}