.commentprofiletd img
{
	border-radius: 50%;
}
.editcomment
{
	float:right;
}
.commenttd
{
	white-space: nowrap;
}
.commentobject
{
	padding:5px;
	background:white;
}
.commentprofiletd
{
	vertical-align:top;
}
.cmttimestamp
{
font-size:8px;
}

.commentposteditcol
{
	margin-left:5px;
	margin-right:0px;
	opacity: 0.3;
	width:20px;
	height:20px;
}
.commentpostdiv
{
	border:1px;
	border-style:solid;
    border-color:transparent;
    width:100%;
}
.commentpostdiv table
{
	margin-bottom:2px;
}
#commentpost-editcommentbox-div
{
    margin:0px;
}
#commentpost-editcommentbox-div textarea
{
    margin-top:0px;
    margin-bottom: 0px;
}
#commentpost-footerbox-div
{
    text-align: center;
    margin-bottom:5px;
}
.cmtdate
{
font-size:12px !important;
float:right;
white-space:nowrap;
padding-right:3px !important;
color: #9e9e9e !important;
font-weight: 400!important;
font-family:Roboto, RobotoDraft, Helvetica, Arial !important;
}

.editcomment
{
	margin-left:5px;
	margin-right:0px;
	opacity: 0.3;
	width:20px;
	height:20px;
}