#socialobjects
{
  padding-top:10px;
  background-color:#EEEEEE;
  display: flex;
  justify-content: center;
  position: static;
  height:100vh;
  padding-bottom:100px;
  overflow: auto;
}
#socialobjects ul {
   list-style-position: inside;
}


.streamcurrentuserpicture
{
	vertical-align:top;
}
._userstreamcomment
{
height:48px;
border:1px transparent;
border-style:solid;
padding:0px !important;
margin:0px !important;
width:498px;
resize:vertical;
box-sizing: border-box;
}
.commentbutton a
{
	color:white;
}


@media (min-width: 1500px) {
#socialobjects
{
	height: -moz-calc(100vh - 220px);
    height: -webkit-calc(100vh - 220px);
    height: calc(100vh - 220px);
    overflow-x: hidden;
}
}
#start-userstream ::-webkit-scrollbar {
    width: 7px;
}

#start-userstream ::-webkit-scrollbar-track-piece {
    background: #888
}
#start-userstream ::-webkit-scrollbar-thumb {
    background: black; /*#eee */
	border-radius:4px; 
}

.streamobjectlinknav
{
    cursor: pointer;
}
.streamobjectlinknav:hover
{
    background:#da532c;
    color:white;
}
.streamobjectlink:hover
{
    background:#da532c;
    color:white;
}
.streamobjectlinknav 
{
    font-style:italic;
}