@media  (max-width: 1500px) {   
    #socialobjects
    {
        height: -moz-calc(100vh - 450px);
        height: -webkit-calc(100vh - 450px);
        height: calc(100vh - 450px);
        min-height:200px;
        overflow-x: hidden;
    }

    ._userstreamcomment
    {
    width: calc(100% - 50px);    
    } 
    .topicbox
    {
        min-width: 100%;
    }
    #stream-socialobjects-span
{
    width:98%;
    box-sizing: border-box;
}

.contentcontainertext #listoflists-listbox-div {
    height:  calc(100vh - 450px); 
    min-height:100px;
    overflow-y: auto;
}

}

