.streamcommentsdiv
{
	margin:0px; padding:0px;
}
.streamactionspan
{
	margin-left:20%;
	margin-right:20%;
}
.streamsharetd
{
	margin:0px;
	padding:0px;
}
.strdate
{
font-size:12px;
color:#9e9e9e;
font-weight: 400;
}
.streamtdright
{
	width: 190px;
	text-align:right;
}
.streamcurrentuserpicture
{
	height:50px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	width:50px;
}
.picturestrem
{
    vertical-align:top;
    width:50px !important;	
}
.picturestrem img
{
	border-radius: 50%;
	margin:3px;
}

.actionrow td.stream-objectname-td a
{
    font-weight: 700;
}
.actionrow
{
color:black;
height:50px;
}
.actionrow tr
{
border:0px !important;	
background-color:#f5f5f5;
height:50px;
}
.streameventtoolbar
{
	font-family:Roboto, RobotoDraft, Helvetica, Arial;
	font-size:16px;
	height:35px !important;
}

.topicstream
{
    	display:inline;
}
.editpersonalpost
{
	float: right;
	margin-left:5px;
	margin-right:5px;
	opacity: 0.3;
	cursor:pointer;
}
.streamusername
{
	white-space:nowrap;
	height:10px;
	padding-left:10px !important;

}

.cmttimestamp
{
font-size:8px;
}

.streamcontentbox
{
	background-color:white !important;
}
.personstreamwidth
{
width:60px  !important;
width:50px;
padding:0px;
margin:0px;
vertical-align:top;
}


/*post button */
.commentbutton {
    /*border:1px solid #a1a1a1; */
    padding:5px 5px 5px 5px;
    background:#da532c;
    
    border-radius:3px;
    text-align:center;
    margin-top:3px;
    margin-left:50px;
    margin-bottom:1px;
    }
    .commentbutton a {
    font-size:15px;
    text-align:center;
    color:white;
    }
    .commentbutton:hover {opacity: 0.6; }

.tbltopictemplate
{	
	margin-bottom:2px !important;
}
.tbltopictemplate td
{
	border:0px !important;		
}
.topicbox
{	
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 0px solid;
	border-color:grey;	
    width:600px;
    
	margin-bottom:22px !important;
	padding-bottom:10px;
	padding-top:10px;
	border-radius:5px;
	background:white;
}
.topicbox:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


.topicstream b
{
    font-weight: bold;
}
.streamobjectlink
{
    display:inline;
    cursor: pointer;
}
.topicstream > div
{
    display: inline;
}
#userevent-personalpost-area
{
    box-sizing: border-box;
    margin:0px;
}
#userevent-personalpostremove-box-div div,#userevent-personalpostremove-box-div textarea
{
    box-sizing: border-box;
}
