.deletequery
{
width:70px;
cursor:pointer;
}
#addquerytomyquerytable input[type="checkbox"]{
    width: 30px; /*Desired width*/
    height: 30px; /*Desired height*/
  }
.addmyquerylist-deletedialogbox-div
{
    padding:5px;
}