#queryviewtable td {
    border: 1px;
    border-style: solid;
    border-color: #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
	border-right-color: transparent;
    line-height: 30px !important;
    padding:3px;
}
#querysearchbox{
    width: 100%;
    line-height: 18px;
	outline: none;
    padding: 3px 0px 3px 3px;
    margin:0px;
	font-size:22px;
	height:40px;
	padding-left:10px;
    border: 1px solid #DDDDDD;
}
.queryresultbox
{
width:99%;
margin-top:10px;
min-height:50px;
}

.leftboxquery
{
width:100%;
}
#querylistfooter
{
   display: flex;
  justify-content: center;
}
#querylist .contentcontainertext
{
	background:white;
}

#querylist .contentboxcontainer
{
	width:80%;
}
#querylist .contentboxcontainer > div > h2 {
text-align:left;
}
#querylist .listnametext
{
	padding-left:10px;
}
#queryviewtable tr:hover {
    background: #f2f2f2;
}
#queryviewtable tr:hover .listdescription {
    display: inline;
}