.listbasicsettingsbox
{
    padding:10px;
}
/* Listeneinstellungn */
.listnamebox
{
	width:300px;
}

.listrenderlimitbox
{
	width:90px;
}
.listbasicsettingfooter
{
	display: -webkit-flex;
    justify-content: center;
}
