#objecttypepermission_page .stdtile
{
	float:none;
} 

#objecttypepermission_page .permissionkeytd
{
	cursor:pointer;
}

#objecttypepermission_page #permissiontable tbody tr:hover {
    background: #da532c;
    color: white;
}
#objecttypepermission_page th {
    background: #d8d8d8;
    font-weight: bold;
    color: black;
}

.deletepermissonobjecttypeimg
{
	width:25px;
	cursor:pointer;
}
.addrightrrow
{
	cursor:pointer;
}
#objecttypepermissiontbl .addusericonaddusercomponent
{
	display:none;
}
#objecttypepermissionlistbox
{
	padding:10px;
}
#objecttypeviewlist th
{
	    font-weight: bold;
    color: black;
	 background: #d8d8d8;
}
#objecttypeviewlist .viewrow td
{
	padding:10px;	
}
#objecttypeviewlist .viewrow
{
	cursor:pointer;
}
#objecttypeviewlist .viewrow:hover
{
	background:#da532c;
	color:white;
}
.listpermissionfooter
{
	display: flex;
    justify-content: center;
}
#objecttypepermission_page .contentcontainertext .contentcontainertext .stdtile
{
	width:125px;
	height:125px;
}
.listpermissionfooter
{
	background:white;
}
.deletepermissonobjecttypetd
{
	width:30px;
}
#listpermissionobjectrighttbl select
{
	width:100%;
}