#newlistfooter
{
  display: flex;
  justify-content: center;
}
#newlist_content
{
	margin:5px;
}
#newlist_page .contentboxcontainer
{
	background:white;
}
#newuserboxcontent
{
	margin:5px;
}
#newuserboxcontent .stdtile
{
	float:none;
}
.list_item_containerobjecttype
{
	border-bottom:1px solid #da532c;
}
