#search_box {
    height: calc(100vh - 380px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.search_objectbox
{
    background: #f1f1f1;
    float: right;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    width:570px;
    cursor: pointer;
}
#search_box ::-webkit-scrollbar {
    width: 7px;
}

#search_box ::-webkit-scrollbar-track-piece {
    background: #888
}
#search_box ::-webkit-scrollbar-thumb {
    background: black; /*#eee */
	border-radius:4px; 
}

.search_objectbox:hover {
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}