#listinfoboxdescription
{
	padding:5px;
	font-style:italic;
}
#listinfobox
{
	min-width:300px;
	border-style:solid;
	display:inline-block;
	height:140px;
	background:  #f1f1f1; /*white; */
    border: 2px solid black; /*#da532c; */
    box-sizing: border-box;
	margin:18px;
	margin-top:10px; 
	margin-left:50px;
	overflow:hidden;
	border-radius:5px;
	
}
#listinfoboxheader h1
{
	background-color:#da532c;
	text-align:right;
	color:white;
	padding:3px;
}

@media (max-width: 1500px) {
#listinfobox
{
	display:none;
}
}

