#queryview-box-div #tbllistdataresult td:first-child {
    width: auto;
}

#listview-searchbox-div
{
	margin:0px;
	z-index: 20000;
	background:white;
	position: sticky;
	top:50px;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	grid-template-columns:  3fr  auto auto 26px;
}

#fixtableheader th
{
	position: sticky;
	top:80px;
	z-index:50;
}

#queryview-box-div
{
background-color: #FFF;
}

.publicquery-div-box #fixtableheader th
{
	top:35px;
}
.publicquery-div-box #listview-searchbox-div
{
	top:0;
}
