#ClaimEditor
{
	width:300px;
}

#authenticationprofiderpage-standardcloudbox-div, #authenticationprofiderpage-windowsbox-div, #authenticationprofiderpage-facebookbox-div
{
    padding:5px;
}
.authproviderpage-delicon-img
{
    width:30px;
    cursor:pointer;
}
#authenticationprofiderpage-windowsbox-table td
{
    border:0px;
}
#authenticationprovider-facebook-table td
{
    border:0px;
}