.stddialogboxwrapper
{
	position:fixed;
	top: 30%;
    left: 20%;
	right:20%;
  -webkit-filter:none;
  z-index: 10000;
}
.stddialogboxwrapper textarea {
   resize: none;
}
#stddialogboxbackground
{
  position:fixed;
  padding:0;
  margin:0;
  z-index: 20005;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(102,102,102, 0.9);

}
#dialogbox-headerline
{
  display: inline-block;
  width:88%;
  text-align:left;
}
#dialogbox-close
{
  width:6%;
  display:inline-block;
 
  height:100%;
  text-align:center;
  cursor:pointer;
  padding:5px;
  color:white;
}
#dialogbox-close:hover
{
  outline-style: solid;
  outline-width: 1px;
}