#key_tablelist img
{
	height:30px;
	margin:auto;
}
#key_tablelist th
{
background:#d8d8d8;
}

#key_tablelist .keylistkey:hover
{
	background:#da532c;
	color:white;
	cursor:pointer;
}
.imgrowkeylist
{
	width:30px;
	margin:auto;
}
#key_tablelist td
{
	padding:3px;
}
#key_tablelist .keylisttdimg
{
	border-right:0px;
}
#key_tablelist .keylisttdname
{
	border-left:0px;
}
#helpboxkeylistpageimg
{
	height:20px;
}