#singlekey_content
{
	padding:3px;
}
#singlekey_content_data input
{
	width:100%;
}
#singlekey_page .stdtile 
{
	float:none;
}
#savesingekeybuttonbar
{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
}
#singlekey_content_data .infotd
{
	width:120px;
}
#singlekey_content_data td
{
	border:0px;
}