.connectobjectinlistfilter
{
	cursor:pointer;
}
.connectobjectinlistfilter, .connectobjectinlistselected
{
	width:100%;
	display:inline-block;
	 vertical-align: top;
}
.connectobjectlistelement
{
    cursor: pointer;
}
.stdui #editobjecttbl .connectobjectinlistfilter .editconnectionobjects  tbody>tr> td.connectobjectlistwidgeticon
{
	min-width:20px;
	max-width:20px;
	width:20px;
}
.connectobjectinlistwidgetcontainer
{
max-height:200px;overflow:auto;padding-left:3px;
}
.connectobjectinlistfilterinput
{
	width:99.8%;
}
.connectobjectlistwidgeticon
{
	width:20px;

}
.editobjectlisticon
{
	cursor:pointer;
	    border-radius: 51%;
		margin:5px;
}
.editobjectlisticon:hover
{
	box-shadow: 0 0 0 1px black;
}
    
.connectobjectinlistselected ul li {
  list-style-type: none;
  list-style: none;
}
.connectobjectlistwidgeticon img
{
	height:20px;
	width:20px;
}
.stdui td.connectobjectlistwidgeticon
{
	padding:0px;
}