.read-link-tr
{
    cursor: pointer;
}
.stdui #readobjecttbl .fieldtypeboxlookupread .read-link-tr:hover
{
    background:#da532c;
    color:white;
}
.stdui #readobjecttbl .read-link-tr td
{
padding:5px;
}