#newfield_page #newfielddefaultpropsbox
{
	padding:20px;
}
#newfield_page .textboxgroup
{
	width:100%;
}
#newfield_page #newfielddefaultpropsbox strong
{
	font-weight: bold;
}
#newfield_page .contentboxcontainer .contentboxcontainer {
width:90%;
}
#newfield_page label{
	cursor: pointer;
}
#newfield_page #fieldtypehelpbox
{
	position: relative;
	top:-250px;
	right:-300px;	
    margin-bottom: -200px;
	width:400px;
	height:200px;
	border:solid 2px black;
	border-radius:20px;
	background: white;
	 overflow:hidden
}
#newfield-deletefieldbox-div
{
	padding:5px;
}
#fieldtypehelpboxtop h2
{
	background:#da532c;	
	color: white;
    text-align: left;
    padding: 10px;
    padding-left: 5px;
    font-size: 16px;
	font-weight: bold;
	
}
#fieldtypehelpboxcontent
{
	background:white;
	padding:10px;
	font-style:italic;
	
}

#fieldtypetextsettingsbox .fieldtypesettingsboxtdnames
{
	width:200px;
}
#fieldtypesettingsboxdiv, #fieldtypeselectorbox
{
	padding:10px;
}
#fieldtypesettingssavefooterregion
{
  display: flex;
  justify-content: center;
}
#dropdownuniquenewfieldsetting, #fieldtypeselectorsettingsbox
{
	padding:5px;
	padding-left:30px;
}
#fieldtypeselectordefaultbox
{
	padding:5px;
}
#fieldtypepicturesettingsbox
{
	padding:5px;
}
.tdpictureratio
{
	width:200px;
}
#fieldtypepicturesettingsbox table td
{
	border:none;
}
#fieldtypetextsettingsboxlistenvorlage .textboxgroup
{
	width:300px;
}
#fieldtypesublistlistname
{
	width:300px;
}
#fieldtypelookupsettingsbox
{
	padding:10px;
}
#deleteimgfieldtypelookup
{
	cursor:pointer;
}
#fieldtypelookupbox
{
	border: 3px solid;
	border-radius:15px;
	padding:15px;
	margin:15px;
}
#fieldtypelookupsettingsbox .textboxgroup
{
	width:300px;
}
#newfield-deletebox-div
{
	text-align: center;
}