.fieldtypeurlwidgettable
{
	margin:5px;
}
.fieldtypeurlwidgettable td
{
	vertical-align: middle;
}
.addurlbuttonimg:hover
{
    border:1px solid;
    border-radius: 50%;
}
.addurlbuttonimg
{
    border: 1px solid transparent;
}
.stdui .fieldtypeurlwidgettableurllist
{
	  clear: both;
	  border:0px;
}
.stdui table.fieldtypeurlwidgettableurllist tbody tr td
{
	border-bottom:0px;
}
.deletebuttondivurlfieldwidget
{
	display:inline;
	cursor:pointer;
}
.addurlbuttonimg , .addurlbutton
{
	cursor:pointer;
}
.stdui table.fieldtypeurlwidgettable
{
	width:auto;
	
}
.stdui table.fieldtypeurlwidgettable tbody tr td
{
	border-bottom:0px;
	border:0px;
}
.stdui table.fieldtypeurlwidgettable tbody tr
{
		border:0px;
}
.stdui table.fieldtypeurlwidgettableurllist
{
	margin-bottom:10px;
}
.stdui .fieldtypeurlcard
{
	padding:5px;
}
.stdui table.fieldtypeurlwidgettable
{
    width:300px;
}
.stdui .fieldtypeurlwidgettable  tbody > tr td:first-child
{
    width:50px;
}