#addpersonpostbutton-disable
{
    border: 1px solid #EEEEEE;
    padding: 3px 3px 3px 3px;
    background: #EEEEEE;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#startseite-addpersonalpostbox-div #addpersonpostbutton
{
    border-radius: 0px;
}
#startseite .startseite-reducestreamheight #socialobjects {
    height: calc(100vh - 460px);

}

#startpagebuttons #starpagebuttons-navbuttons .stdtile
{
    width:90px;
    height:140px;
    margin-left:5px;
    border-radius: 20px;
    border:2px solid;
}
#startpagebuttons #starpagebuttons-navbuttons .stdtile:hover
{
    border:2px solid black;
    outline:0;
}

@media (min-width: 1500px) {
#startseite
{
    display: grid;
    grid-template-columns:  auto 620px 620px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-rows:  auto auto;
}
#start-userstream
{
    grid-column-start:3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#start-analytics
{
    grid-column-start:1;
    grid-row-start: 1;
    grid-row-end: 3;
   /* overflow: hidden; */

}

#start-middle-buttons
{
    grid-column-start:2;
    grid-row-start: 1
}
}

.contentboxcontainer
{
overflow:hidden; 
}