@media (max-width: 1500px) {

    #startseite
    {
        display: grid;
        grid-template-columns:  auto 95% auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-rows:  auto;
    }
    #start-middle-buttons
    {
        grid-column-start:2;
        grid-row-start: 1
    }

}