/* Custom  */
#historysearchbox
{
width:100%;
}
.history_listlink a:hover
{
    background:var(--main-bg-color);
    color:white;
}
.history_listlink
{
font-style: italic;
}
.history_objectbody
{
    cursor:pointer;
}
#history_box
{
    height: calc(100vh - 380px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#history_box ::-webkit-scrollbar{
    width: 7px;
}

#history_box ::-webkit-scrollbar-track-piece {
    background: #888
}
#history_box::-webkit-scrollbar-thumb {
    background: black; /*#eee */
	border-radius:4px; 
}