.stdui .react-datepicker__day--selected:hover, .stdui .react-datepicker__day--in-selecting-range:hover, .stdui .react-datepicker__day--in-range:hover
{
    background-color: var(--main-bg-color);
}
.stdui .react-datepicker__day--selected, .stdui .react-datepicker__day--in-selecting-range,.stdui .react-datepicker__day--in-range
{
    background-color: var(--main-bg-color);
}
.stdui .react-datepicker__day--keyboard-selected
{
    background-color: var(--main-bg-color);
}