.stdui  #passwordreset_content input
{
	width:100%;
	box-sizing:border-box;
}
#passwordreset_content
{
	   font-weight: bold;
}
#tblpassword .passwordchangecol
{
	width:200px;
	text-align:right;
	padding:5px;
	padding-right:10px;
	
}