.userlistprofilepropertiesbox
{
	margin-left:55px;
}
.userstable img
{
	float:left;
}
.profilelistuserbox img
{
	border-radius: 5px;
	margin:3px;
	float:left;
}
.profilelistuserbox
{
	background:  #f1f1f1; /*white; */
	float:right;
    border: 1px solid black; /*#da532c; */
    box-sizing: border-box;
	margin:10px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	display:block;
	overflow:hidden;
	border-radius:5px;
	cursor:pointer;
	width:100%;
}
.profilelistuserbox:hover
{
box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.profilelistuserbox .headeruserobjectbox
{
	/*background-color:#da532c;
	color:white; */
	background-color:#e5886d;
	color:black; 
	font-weight: bold;
	text-align:left;
	
	padding:3px;
}
.userlist
{
	 display: flex; 
	 flex-wrap:wrap;
	  justify-content:flex-start;
}
#usersearchbox
{
width:100%;
line-height:20px;
border-radius: 5px;
}
