.userlogin {
    float: right;
    margin: 55px 44px 0 0;
    cursor: pointer;
	margin-right: 30px;
    margin-top: 5px;
}
.userlogin .avatar {
    float: right;
    border: 1px #ccc solid;
    width: 40px;
    height: 40px;
}
.userlogin .name {
    float: left;
    margin: -5px 10px 0;
    text-align: right;
	color:white;
}
.userlogin .avatar {
    float: right;
    border: 1px #ccc solid;
    width: 40px;
    height: 40px;
}
.userlogin .name .lastname {
  font-weight: 300;
}
.userlogin .name .firstname {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.01em;
    line-height: 22pt;
    display: block;
    margin: 0;
}
.avatar img
{
	width:40px;
	height:40px;
}
