#admintemplatepage .contentboxcontainer
{
	width:80%;
}
#admindesignboxfooter
{
		  display: flex;
  justify-content: center;
}

/* Textformt */

#textformatcontent
{
	   resize: none;
	   height:300px;
	   margin:0px;
	   border:0px;
	   outline:0px;
	   width:100%;
	   box-sizing: border-box;
}

#textformatcontent:focus{
    /* box-shadow: 0 0 5px #da532c; */
    border: 0px;
}