.stdifollowtable img {
  /*  border-radius: 50%;
  height:30px;
  */
    margin: 3px;
	
}
.stdifollowtable th {
	border-right: 1px #ddd solid;
	border-top: 1px #ddd solid;
	border-left: 1px #ddd solid;
}

.stdifollowtable td {
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-top: 1px #ddd solid; 
}
.ifollow_deleteicon
{
	cursor:pointer;
}
.ifollow_showobjecttd
{
	cursor:pointer;
}
.ifollow_listname strong
{
	font-weight:bold;
}

.ifollow_actionimg
{
	height:30px;
	display:inline-block;
	width:30px;
	cursor:pointer;	
}

.ifollow_addimage
{
	background-image: url('https://publicfile.standard-cloud.com/icons/stream-new-object.png');
}

.ifollow_delimage
{
	background-image: url('https://publicfile.standard-cloud.com/icons/stream-delete.png');
}
.ifollow_personalpostimage
{
	background-image: url('https://publicfile.standard-cloud.com/icons/home.png');
}
.ifollow_commentimage
{
	background-image: url('https://publicfile.standard-cloud.com/icons/comment25.png');
	background-repeat:no-repeat;
}
.ifollow_shareimage
{
	background-image: url('https://publicfile.standard-cloud.com/icons/share.png');
	background-repeat:no-repeat;	
}

.ifollow_editimage
{
	background-repeat:no-repeat;
	background-image: url('https://publicfile.standard-cloud.com/icons/stream-edit-object.png');
}
.ifollow_actionstd div
{
	margin-right:10px;
	margin-left:10px;
}
.ifollow_deleteimage:hover
{
	background-image: url('https://publicfile.standard-cloud.com/icons/delete30.png');
}
.ifollowtypebox
{	
	width:50%;
	min-width:600px;
	margin:auto;
	vertical-align:top;
	border-style: solid;
	background: #f1f1f1;
    border: 2px solid black;
	border-radius: 5px;	
	margin-bottom:5px;
}
.ifollowtypebox > div
{
	background:#da532c;
}
.ifollowtypebox > div > h2
{
	color:white;	
	text-align:right;
	padding:10px;
}
.ifollowtypebox table
{
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
}
.stdui #ifollowpagetbl
{
	  width: auto;
}
.stdui #ifollowpagetbl td
{
	vertical-align:top;
}
.ifollowtypeboxcontainer
{
	align:center;
	width:100%;
}
.ifollowtypeboxlegende
{
	position:fixed;
	right:50px; top:80px; width:300px;
	border-style: solid;
	background: #f1f1f1;
    border: 2px solid black;
	border-radius: 5px;	
}

.ifollowtypebox > div:first-of-type { 
cursor:pointer;
}
.stdui .stdifollowtable  tbody tr td
{
	    padding: 15px 5px;
}
.ifollowtypebox h2 img
{
	height:35px;
	margin-left:5px;
}
.ifollowtypebox table th
{
	font-weight:bold;
	text-align:center;
}
#ifollowpagebuttons
{
		display:flex;
	display:-webkit-flex;
	justify-content:center;
}
.stdifollowtable  th {
    background: #d8d8d8;
    font-weight: bold;
}
#followbuttonifollowpage
{
	height:60px;
}
#ifollowpagedialogimg
{
	width:90%;
}
.ifollowuserimage
{
	border-radius: 50%;
	border: 3px solid black;
}