input[type=text],input[type="search"] ,input[type="password"], textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=text]:focus,input[type="search"]:focus ,input[type="password"]:focus, textarea:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid black; /*#da532c; */
}
/* Button Post */
.stdui a:hover, .stdui .link:hover {
    color: black;
}
/* Tooltip */
.tooltiptext
{
color:black;
}
/*geolocation fieldtype - no address */
.geoaddresdetails
{
display:none;
}
nav {display: inline-block; vertical-align:center;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline; }
nav ul li a {display:block;color:#444; }
nav ul li ul {position:absolute;background:#FFF;}
nav ul li ul li {width:200px;}
nav ul li ul li a {display:block;padding:10px 10px; text-wrap:none;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7; text-wrap:none;}
nav ul li ul.fallback {display:none; text-wrap:none;}
nav ul li:hover ul.fallback {display:block; text-wrap:none;}

.stdui .page.secondary .page-header .page-header-content h1, .stdui .page.secondary .page-header .page-header-content h2, .stdui .page.secondary .page-header .page-header-content h3, .stdui .page.secondary .page-header .page-header-content h4, .stdui .page.secondary .page-header .page-header-content h5 {
left:15px;
}
.stdui table tbody tr td
{
padding:0px;
}
.stdui ul
{
list-style-position:inherit;
}

.stdui button, .stdui .button
{
min-height: 0px;
min-width: 0px;
margin-bottom: 0px;
 margin-right: 0px;
}

.stdui ul:nth-child(1)
{
margin-left:0px;
}

.stdui a, .stdui .link
{
font-size:15px;
}
select { outline: none !important; }

table.table div.sortable {
    cursor: pointer;
    user-select: none;
}

table.table div.sortable i {
    width: 13px;
    margin-left: 7px;
    display: inline-block;
}

.fa-arrow-up
{
	width:20px;
	height:20px;
	min-width:20px;
	margin-right:10px;
	display: inline-block;
	background: url("https://publicfile.standard-cloud.com/icons/arrow-down.png");
}
.fa-arrow-down
{
	width:20px;
	min-width:20px;
	height:20px;
	display: inline-block;
	margin-right:10px;
	background: url("https://publicfile.standard-cloud.com/icons/arrow-up.png");
}
.fa-arrow-invisible
{
	width:20px;
	height:20px;
	min-width:20px;
	margin-right:10px;
	display: inline-block;	
}
.listheadertbl
{
	font-size:1.3em;
	color:black;
	width:100%;
}
#tbllistdataresult th
{
	background:#f1f1f1;
	cursor:pointer;
}
.userstable, .objectbox, .timelinecontent, #ceckboxregion,#listproviders,#addpersonpostbutton ,.streamlike,.streamshare,.editcomment, #searchicon,
.pointersingleclick, .commentbutton, .cursor,#queryviewtable, #addquerytomyquerytable, #listdropdown, .querydeletebutton
{
	cursor:pointer;
}
#tbllistdataresult ul {
   list-style-position: inside;
}
 .joineditorbox .tile
 {
	 width:120px;
	 height:120px;
 }

.stdui a
{
	color:black;
}
#querylistviewtable ul {
   list-style-position: inside;
}
.stdtable
{
    border: 1px;
	clear:both;
    border-style: solid;
}
.stdtable th, .stdtable td {
    border: none;
}
.stdtable thead
{
	background:#f2f2f2;
}
.stdtable thead th
{
padding: 15px 5px;
display: table-cell;
text-align: left;
vertical-align: middle;
border-radius: 2px;
font-family: "Roboto", sans-serif;
color:black;
}
.stdtable tbody td
{
padding: 15px 5px;
display: table-cell;
text-align: left;
vertical-align: middle;
border-radius: 2px;
}
#bottomdivbox
{
	padding:15px;
	background:#da532c;
	text-align: center;
	color:white;
	vertical-align: middle;
}
#sorteditor .ui-state-default {
    cursor: move;
}
/*Standard-Cloud Button */
.stdbutton
{
	background:#DA532C;
	height:inherit;
}
.stdbutton:hover
{
	background:#de6542;
	outline:2px black solid;
}
.stdbutton-content
{
  padding:1%;
  height:inherit;
}

#dropzonediv .stdtile
{
	float:none;
}
#dropzonediv
{
display:flex;
display:-webkit-flex;
justify-content:center;
}