.stdui a
{
	text-decoration:none;
	font-family: 'Roboto';
}
.stdui table
{
    width:100%;
}
.stdui body
{
	font-family: 'Roboto';
}
.stdui h1 {
    font-family: 'Roboto';
    color: #000000;
    font-size:1.5rem;
    font-weight:200;
}
.stdui h4 {
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.6);
}
.stdui .stdpage-region
{
	padding-top:80px;
}
.stdpage-region h1
{
	margin:0 0 10px 0;
}
stdui h6
{
	 font-family: 'Roboto';
	 color: rgba(0, 0, 0, 0.6);
}
b, strong
{
	font-weight:bold;
}
.stdui label {
    font-family: 'Roboto';
}
.stdui div {
    font-family: 'Roboto';
}
.stdui input
{
	background:white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.stdpage-region
{
margin-left:5px;
margin-right:5px;	
}
.stdui h2 {
   font-family: 'Roboto';
   color: #000000;
}
.stdui table thead tr th, .stdui table thead tr td {
   display: table-cell;
   vertical-align: bottom;
   padding-bottom: 5px;
   padding-top: 10px;
   padding-left: 5px;
   border-bottom: 1px #ddd solid;
   border-right: 1px #ddd solid;
   border-left: 1px #ddd solid;
   border-top: 1px #ddd solid;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 11pt;
   letter-spacing: 0.01em;
   line-height: 13pt;
   /*color: rgba(0, 0, 0, 0.6); */
   color:black;
   text-align: left;
}

.stdui table tbody tr td {
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 11pt;
   letter-spacing: 0.02em;
   line-height: 14pt;
   border-right: 1px #ddd solid;
   border-bottom: 1px #ddd solid;
   border-left: 1px #ddd solid;
   border-top: 1px #ddd solid;
   box-sizing: border-box;
 
}
.stdui table{
 border-collapse: collapse;
 }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.stdui :focus {
outline: 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
li
ul,ol {
    list-style-position: inside;
    }
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*hintergrund des hauptfenster */
body{

/*background-color:#f5fffa; */
background-color:#FFFFFF;
}
input[type="text"] {
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}
