#connection-footer
{
    display: flex;
    justify-content: center;
}
#connection-connectionstable td
{
    padding:5px;
}
#connection-contentbox-div
{
    padding:5px;
}
#connection-contentbox-div .objectbox
{
    float:left;
}