.stdcheckboxregion input[type="checkbox"], .stdradioboxregion input[type="checkbox"], .stdcheckboxregion input[type="radio"], .stdradioboxregion input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .stdcheckboxregion input[type="checkbox"]:focus + label:before, .stdradioboxregion input[type="checkbox"]:focus + label:before, .stdcheckboxregion input[type="radio"]:focus + label:before, .stdradioboxregion input[type="radio"]:focus + label:before, .stdcheckboxregion input[type="checkbox"]:hover + label:before, .stdradioboxregion input[type="checkbox"]:hover + label:before, .stdcheckboxregion input[type="radio"]:hover + label:before, .stdradioboxregion input[type="radio"]:hover + label:before {
    border-color: #da532c;
    background-color: #f2f2f2;
  }
  
  .stdcheckboxregion input[type="checkbox"]:active + label:before, .stdradioboxregion input[type="checkbox"]:active + label:before, .stdcheckboxregion input[type="radio"]:active + label:before, .stdradioboxregion input[type="radio"]:active + label:before { transition-duration: 0s; }
  
  .stdcheckboxregion input[type="checkbox"] + label, .stdradioboxregion input[type="checkbox"] + label, .stdcheckboxregion input[type="radio"] + label, .stdradioboxregion input[type="radio"] + label {
    position: relative;
    padding-left: 1.7em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
  }
  
  .stdcheckboxregion input[type="checkbox"] + label:before, .stdradioboxregion input[type="checkbox"] + label:before, .stdcheckboxregion input[type="radio"] + label:before, .stdradioboxregion input[type="radio"] + label:before {
    box-sizing: content-box;
    content: '';
    color: #da532c;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid black;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  .stdcheckboxregion input[type="checkbox"] + label:after, .stdradioboxregion input[type="checkbox"] + label:after, .stdcheckboxregion input[type="radio"] + label:after, .stdradioboxregion input[type="radio"] + label:after {
    box-sizing: content-box;
    content: '';
    background-color: #da532c;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
  }
  
  .stdcheckboxregion input[type="checkbox"]:disabled + label:before, .stdradioboxregion input[type="checkbox"]:disabled + label:before, .stdcheckboxregion input[type="radio"]:disabled + label:before, .stdradioboxregion input[type="radio"]:disabled + label:before { border-color: #cccccc; }
  
  .stdcheckboxregion input[type="checkbox"]:disabled:focus + label:before, .stdradioboxregion input[type="checkbox"]:disabled:focus + label:before, .stdcheckboxregion input[type="radio"]:disabled:focus + label:before, .stdradioboxregion input[type="radio"]:disabled:focus + label:before, .stdcheckboxregion input[type="checkbox"]:disabled:hover + label:before, .stdradioboxregion input[type="checkbox"]:disabled:hover + label:before, .stdcheckboxregion input[type="radio"]:disabled:hover + label:before, .stdradioboxregion input[type="radio"]:disabled:hover + label:before { background-color: inherit; }
  
  .stdcheckboxregion input[type="checkbox"]:disabled:checked + label:before, .stdradioboxregion input[type="checkbox"]:disabled:checked + label:before, .stdcheckboxregion input[type="radio"]:disabled:checked + label:before, .stdradioboxregion input[type="radio"]:disabled:checked + label:before { background-color: #cccccc; }
  
  .stdcheckboxregion input[type="checkbox"] + label:after, .stdradioboxregion input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
  }
  
  .stdcheckboxregion input[type="checkbox"]:checked + label:after, .stdradioboxregion input[type="checkbox"]:checked + label:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
  }
  
  .stdcheckboxregion input[type="radio"]:checked + label:before, .stdradioboxregion input[type="radio"]:checked + label:before {
    animation: borderscale 300ms ease-in;
    background-color: white;
  }
  
  .stdcheckboxregion input[type="radio"]:checked + label:after, .stdradioboxregion input[type="radio"]:checked + label:after { transform: scale(1); }
  
  .stdcheckboxregion input[type="radio"] + label:before, .stdradioboxregion input[type="radio"] + label:before, .stdcheckboxregion input[type="radio"] + label:after, .stdradioboxregion input[type="radio"] + label:after { border-radius: 50%; }
  
  .stdcheckboxregion input[type="checkbox"]:checked + label:before, .stdradioboxregion input[type="checkbox"]:checked + label:before {
    animation: borderscale 200ms ease-in;
    background: #da532c;
  }
  
  .stdcheckboxregion input[type="checkbox"]:checked + label:after, .stdradioboxregion input[type="checkbox"]:checked + label:after { transform: rotate(-45deg) scale(1); }
  
  @keyframes 
  borderscale {  50% {
   box-shadow: 0 0 0 2px #da532c;
  }
  }

  .stdui .stdcheckboxregion label
  {
      margin-right:-6px;
  }
  .stdcheckboxregion
  {
    margin-bottom: 5px;
  }
  .stdradioboxregion
  {
    margin-top:5px;
    margin-bottom: 5px;
  }