.userlistuserbox
{
	border:2px solid;
	display:inline-block;
	border-radius: 40px;
	margin:3px;

}
.userlistuserbox:hover
{
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor:pointer;
	background-image:url('https://publicfile.standard-cloud.com/icons/delete_noborder.png');
	background-repeat:no-repeat;
	background-position: right 15px center;
	padding-right:50px;
}
.userlistuserpicture
{
	border-radius:50%;
}
.userlistdeletepicture
{
	margin-right:10px;
	margin-left:10px;
}
#usermanagementtbl th
{
background: #d8d8d8;
font-weight: bold;
color:black;
}

#usermanagementtbl tr:hover {
    background: #da532c;
    color: white;
}
#usermanagementtbl td{
padding:2px;
}
#usermanagementfooter
{
display: flex;
justify-content: center;
}
.stdui table thead .headerusermanagerth
{
	text-align:center;
	font-size:18px;
}
.usermanagerlisthelpicon
{
	height:20px;
}
#newuserbox strong
{
	font-weight:bold;
}