.filterdialog
{
	position: absolute;
 	background: white;
	border:black 2px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 1000;
	display:grid;
	grid-template-columns: 1fr 1fr 20px 20px; 
	align-items: center;
}
.fieldfilter-hide
{
	visibility: hidden;
}

.fieldfilter-hide .filterimage-img
{
	visibility:	visible;
}
.filterheader
{
	text-align: center;
	background:#da532c;
	color:white;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
vertical-align:middle;
padding:5px;
}
.filterimage-box
{
	position: relative;
	top:-30px;
	background:pinK;
}
.filterimage-box
{

	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
	text-align: center;
vertical-align:middle;
height:0;
}

.fieldfilter-body-div
{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 3;
	padding:5px;
}

.fieldfilter-dialogbox-hide
{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
  text-align:center;
  cursor:pointer;
  color:white;
  background:#da532c;
  padding:5px;
}
.fieldfilter-dialogbox-close
{
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
  text-align:center;
  cursor:pointer;
  color:white;
  background:#da532c;
  padding:5px;
}
.fieldfilter-dialogbox-close:hover, .fieldfilter-dialogbox-hide:hover
{
  outline-style: solid;
  outline-width: 1px;
}
.filterimage-img
{
	float:right;
}