#listsearchbox
{
	width:100%;	
	line-height:18px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#fixtableheader th
{
	position: sticky;
	top:80px;
	z-index:50;
}
#listviewtable tr
{
	background:white;
	transition: background-color .25s ease;
}
#listviewtable tr:hover { 
background:#f2f2f2;
} 

#listviewtable tr.active { background: #f2f2f2; } 

#listviewtable tr{
    cursor: pointer;
	font-family:'Roboto';
}


#listviewtable td:last-child{
    width:1%;
    white-space:nowrap;
}

.listdescription
{
 display:none;
 font-size: 1.3em;
 font-style:italic; 
 color:grey;
}
.listnametext
{
	 font-size: 1.5em;
	 font-weight: 400;
}
#listviewtable th
{
	background:#e6e6e6;	
}

#tbllistdataresult td:first-child { width: 20px; }
#headerresulttabledynamic td:first-child { width: 20px; }
#headerresulttabledynamic
{
	margin-bottom: 0px;
}

#tbllistdataresult .tile
{
min-height:70px !important;
min-width:70px	 !important;	
max-height:120px !important;
max-width:120px	 !important;
}

#listviewtable img
{
	width:100%;
}

#tbllistdataresult td
{
	padding:3px;
border-right:1px #ddd solid;
border-bottom:1px #ddd solid;
border-left:1px #ddd solid;		
border-top:1px #ddd solid;	
}
#tbllistdataresult, #headerresulttabledynamic
{
	 border-collapse: collapse;
}
#listviewtable td
{
	padding:3px;	
 /*	border:1px solid; */
}



.tdeditcol
{
	width:145px;
	height:100%;
}
.tdedsingl
{
	width:64px;
	height:100%;
}


#tbllistdataresult th , #headerresulttabledynamic th
{
	box-sizing: border-box;
}

#listview-searchbox-div
{
	margin:0px;
	z-index: 20000;
	background:white;
	position: sticky;
	top:50px;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	grid-template-columns:  3fr  auto auto 26px;
}
.tblsearchresultcount
{
	white-space: nowrap;
	outline: none;
	margin:auto;
}



#tbllistdataresult > tbody > tr:hover
{
	background:#F5F5F5;
}
.filterbuttonlistview
{
display:none;
	width:25px;

}
.filterbuttonlistview
{
	display: block;
	visibility: hidden;
}
.sortable:hover .filterbuttonlistview
{
visibility:visible;
}
.sortable
{
white-space: nowrap;
}
#tbllistdataresult th:hover
{
	background:#d8d8d8;
}
.fieldbuttondiv
{
	display: flex;
	justify-content: space-between;
}
.listview-hide-icon-div
{
	visibility:hidden;
	min-width:20px;
}
.sortable:hover .listview-hide-icon-div
{
visibility:visible;
}
#listview-box-div
{
background-color: #FFF;
}
img.fullscreen-icon
{
	cursor: pointer;
	width:23px;
	height:23px;
	margin:1px;
	
	max-width: 23px;
}

/*invisible field */
.invisiblefield-field-box
{
	float:right;
    border-radius: 5px;
	cursor: pointer;
	color:white;
	background-color:#da532c;
	padding:2px;
	margin-left: 10px;	
	margin-top:2px;
	margin-bottom: 2px;
	border:1px solid black;
	font-size: 14px;
	padding-right:10px;
}
.invisiblefield-field-box img
{
	margin-right: 3px;
	height:25px;
}

#fullscreentd
{
	width:26px;
	margin:auto;
}
#objectnametd
{
	white-space: nowrap;
	max-width: 300px;
}
#tblsearchboxtd
{
	width:80%;
}


