#listviewtable tr.selectedrow
{
background: #f2f2f2;
}
#listviewtable tr.selectedrow .listdescription
{
	display: inline;
}
#listviewtable tr.selectedrow  .listoflists-addlist-span
{
	display: inline;
}
.contentcontainertext #listoflists-listbox-div
{
  max-height:calc(100vh - 350px);
	overflow-y: auto;
}
.listoflists-addlist-span
{
	float:right;
	cursor: pointer;
	width:30px;
	text-align: right;
}

.listoflists-addlist-span 
{
	display: none;
}
#listofalllists tr:hover .listoflists-addlist-span {
	display: inline;
}
#listviewtable .addlistimage
{
	height: 25px;
	display: inline-block;
	width: 25px;
}
.addlist-span
{
	text-align: right;
}
#listofalllists tr:hover .listdescription {
    display: inline;
}
#listoflistssearchbox
{
	width:100%;	
	line-height:18px;
    
}
#listofalllists #listviewtable td:last-child
{
    font-weight:bold;
}

#listofalllists  td
{
 line-height: 30px !important; 
}

#listofalllists #listviewtable
{
    margin-bottom: 0px;
}
#listofalllists 
{
	    font-family: 'Roboto';
}
#listofalllists td
{
	border:1px;
	border-style:solid;
	border-color:#ddd;
	border-top-color:transparent;
	border-left-color:transparent;
}
.listnametext
{
	font-size:22px;
}
#listviewtable td.listcountcol
{
	border-right:0px;
}
.stdcard {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	margin: 1rem;
	position: relative;
	  padding:10px;
	}
  .stdcard h1
  {
	  font-family:'Roboto';
	  color:#da532c;
  }
  .stdcard-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display:block;
  }
  .stdcard-1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .stdloginbox {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display:block;
	width:350px;
	height:350px;
  }
  .stdloginbox:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .stdcard-listoflists
  {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display:block;
  
  }