.objecttypeselectorbox
{
width:600px;
}
.objecttypeselectorbox .textboxgroup
{
    display:inline-block;
}
.objecttypeselectorbox #listdropdown
{
    margin-left:20px;
}
#listdropdown
{
	 border: solid 1px transparent;
	     cursor: pointer;
    border-radius: 51%;
    margin-left: 5px;
    margin-right: 5px;
}
#listdropdown:hover
{
	 border: solid 1px black;
}
.selectoritembox
{
	color:white;
	border-bottom: 1px solid;
	background-color:grey;
	cursor:pointer;
	padding:3px;
}
.selectoritembox > strong
{
	font-weight: bold;
}
.selectoritembox:hover
{
 background-color:#da532c;
}
.objecttypeselectorbox input
{
	font-size:18px;
}