.stdui #editobjecttbl tr.adduseruserrow td.adduserrowimg
{
    width:60px;
    min-width:60px;
}
.stdui #editobjecttbl tr.adduseruserrow:hover
{
    background:#da532c;
    color:white;
}
.adduserrowimg img
{
    border:2px solid black;
}
.addusericonaddusercomponent:hover
{
 border: 2px solid black;
 border-radius: 50%;
}
.addusericonaddusercomponent
{
    border: 2px solid transparent;
}
.adduserinputfield
{
    width:300px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.addusericonaddusercomponent
{
    cursor:pointer;
}
.adduserrowimg img
{
    border-radius:50%;
}
.adduseruserrow
{
    cursor: pointer;
}
.adduseruserbox
{
    overflow-y:scroll;
    position: absolute;
    z-index: 100;
    background:white;
    max-height: 300px;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top: 0;
    box-sizing: border-box;
    width:300px;
    padding-left: 2px;
    padding-right: 2px;
    display: none;
}