#buttoneditorbox
{
    padding-top:10px;
}
.contentcontainertextremoveobject
{
  padding:10px;
  text-align:center;
}
#buttoneditorbox 
{
	display: flex;
    justify-content: center;
}

#objectstreambox .stddialogboxwrapper 
{
    top:80px;
    min-height:250px;
    width:630px;
}
#objectstreambox #stremboxinside
{
    max-height:80vh;
    overflow-y: scroll;
    overflow-x:hidden;
}
#editobjectbar-followdialog-body
{
    margin:10px;
}