/* Custom  */
#timelinesearchbox
{
width:100%;
}
/*#cd-timeline */
#cd-timeline-block
{
/* height:76vh; */
overflow-x: hidden;
}
/*End Custom */
.objectcontent:hover { 
    background-color: yellow;
}
.cd-date
{
font-style: italic;
}

#cd-timeline .searchboxcontent
{
margin-left:35px;
}
.selfield
{
	color:black;
	background-color:#da532c;
}
.headerline
{
		font-weight: bold !important;
		background:#eeeeee;		
}


