:root {
  --main-bg-color: #da532c;
}

.querypermissioneditor .contentboxcontainer .contentboxcontainer
{
  max-width:50%;
}

.querypermissioneditor .contentboxcontainer .contentboxcontainer .tblkeyquerypermission
{
  width:100%;
}
.querypermissioneditor .contentboxcontainer .contentboxcontainer .tblkeyquerypermission th
{
font-weight:bold;
}
.uploadimagebox
{
  width: 30%;
  display:inline-block;
  cursor: pointer;
  height:128px;
}

.dz-preview 
{
  display: none;
}
.followlist
{
  padding:10px;
}
.fieldtypeselectorread label
{
	cursor:pointer;
}
.uploadimageboxbuttons .stdtile, .uploadimagebox .stdtile
{
  width:128px;
  height:128px;
}
#loadlistsbox
{
  width:100%;
  height:50px;
  text-align: center;
  display: table;
  color:white;
  font-size: 12px;
  background:rgb(218, 83, 44);
}
#loadlistsbox > span {
  display: table-cell;
  vertical-align: middle;
}
.stdpage-header
{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
	width: 100%;
    display: block;
	background-color:var(--main-bg-color);
	    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.stdpage-header-content
{
	    display: block;
    height: 50px;
    min-height: 50px;
    position: relative;
    width: 100%;
}
.stdpage-header .stdpage-header-content h1
{
	position: absolute;
    margin: 0;
    padding: 0;
    left: 15px;
    bottom: 0;
  color:white;
  line-height: 40px;
}
.stdpage-header .stdpage-header-content a
{
  font-size: 1.1rem;
	color:white;
  text-decoration:none;
  font-weight: 300;
}
#loadingtext
{
  font-size:1.2rem;
}
.streamusername a
{
	color: rgba(0,0,0);
    font-size: 16px;
    text-decoration: none;
	font-weight: 500;
}