.headerobjectbox
{
	background-color:var(--main-bg-color);
	text-align:right;
	color:white;
	padding:3px;
}
.analyticsbox
{
	width: 300px;
	height: 145px;
	float:right;
	margin-top:0px;
	margin-left:0px;
	display:block;

}


.analyticsboxwrapper {
    -webkit-column-width: 300px;
    column-width: 300px;
    height: 100%;
	padding:2px;
}
.objectbox img
{
	border-radius: 5px;
	margin:3px;
}
.objectbox
{
	background:  #f1f1f1;
	float:right;
    border: 1px solid black; 
    box-sizing: border-box;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right:0px;
    margin-top:0px;
	display:block;
	overflow: hidden;
	border-radius:5px;
}
.objectbox:hover
{
box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#objectboxanalytics
{
-webkit-flex-direction: row; /* Standard */
  flex-direction: row; /* Standard */
  display: -webkit-flex;
  display: inline-flex;
  flex-wrap: wrap;
}
#start-analytics
{
	height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	overflow: hidden;
}


@media (max-width: 1500px) {
    #start-analytics
    {
      height: calc(100vh - 300px);
      max-height: calc(100vh - 300px);
      padding:5px;
    }
    .analyticsbox
    {
       width:290px;
    }
}