#listofalllists tr:hover .listdescription {
    display: inline;
}
#listoflistssearchbox
{
	width:100%;	
	line-height:18px;
    
}
#listofalllists #listviewtable td:last-child
{
    font-weight:bold;
}

#listofalllists  td
{
 line-height: 30px !important; 
}

#listofalllists #listviewtable
{
    margin-bottom: 0px;
}
#listofalllists 
{
	    font-family: 'Roboto';
}
#listofalllists td
{
	border:1px;
	border-style:solid;
	border-color:#ddd;
	border-top-color:transparent;
	border-left-color:transparent;
}
.listnametext
{
	font-size:22px;
}
#listviewtable td.listcountcol
{
	border-right:0px;
}