.selectoritembox
{
	color:white;
	border-bottom: 1px solid;
	background-color:grey;
	cursor:pointer;
	padding:3px;
}
.selectoritembox > strong
{
	font-weight: bold;
}
.selectoritembox:hover
{
 background-color:#da532c;
}
.objecttypeselectorbox input
{
	font-size:18px;
}
.objecttypeselectorbox > div
{
	color:#999;
}